@{
    Page.Title = "DropDown";
    Layout = "~/_LayoutPage.cshtml";

    var choice = Request.Form["CodingSample"];
}
@section banner{
    <h1>DropDown (Select)</h1> }

    <div>
   @if (IsPost)
    {
        switch (choice.ToUpper())
        {
            case "TEXTBOXES":
                {
                    //use the Response object's method Redirect("page name")
                    //   to send the user to a specific page
                    //Use relative addressing in referrencing your page
                    Response.Redirect("TextBoxes.cshtml");
                    break;
                }
            case "RADIOBUTTONS":
                {
                    Response.Redirect("RadioButtons.cshtml");
                    break;
                }
            case "CHECKBOXES":
                {
                    Response.Redirect("CheckBoxes.cshtml");
                    break;
                }
            default:
                {
                    //is a message if the prompt line is the current option choice3
                    <p><span style="color:firebrick">Make a selection from the list of sample choices.</span></p>
                        break;
                }
        }
    }
        <form id="theForm" action="" method="post">
            <div class="col-md-offset-1">
                <label id="forCodingSample">Select the sample to view</label><br />
                <!--The Select tag is used to the the dropdown control
            Each item in the control is specified using the Option tag
            To set an item to be the selected item, use the Option tag
                parameter Selected
            If no item has been selected then the first Option is the default
                option that is shown
            Often you will see that the first choice is a prompt from the
                control. This is referred to as a prompt line-->
                <select name="CodingSample">
                    <option value="">select ....</option>
                    <option value="TextBoxes">TextBoxes</option>
                    <option value="RadioButtons">RadioButtons</option>
                    <option value="CheckBoxes">CheckBoxes</option>
                </select>
                &nbsp;&nbsp;
                <button type="submit" name="formButton" value="submit" class="btn btn-primary">
                    Go To ....
                </button>

            </div>
        </form>
    </div>