<connectionStrings>
  <!-- "name" is the string that you will reference on your web form to point to the database you are interested in 
        connectionString has three parameters:
        1. data source indicates the sql server name
        2. initial catalog indicates the sql database name
        3. integrated security set to true
        
        providerName indicates the type of client your database needs (we have an SQL database therefore our client is the SqlClient)
        -->
  <add name="NWDB"  
        connectionString="Data Source=.; Initial Catalog=Northwind_CPSC1517; Integrated Security=true"
        providerName="System.Data.SqlClient"/>    <!-- hit spacebar to make intellisence start workig again -->
</connectionStrings>