@*this is the content page*@

@{
    Page.Title = "Home";
    Layout = "~/_LayoutPage.cshtml";
}

@section banner{
    <h1>Hello</h1>
    <div class="row"> @*row will make a div element take up the whole page width*@
        <div class="col-md-4">
            @*col stands for column, md is for medium, 4 is for number of blocks used (out of 12 evenly spaced blocks)*@
            <p>
                This text is not in a section on the content page, therefore this text is put in the RenderBody area of the layout page.
                Any html tags or any text not in a section defaults to the RenderBody
            </p>
        </div>
        <div class="col-md-2">
            @*col stands for column, md is for medium, 4 is for number of blocks used (out of 12 evenly spaced blocks)*@
            <p>
                This text is not in a section on the content page, therefore this text is put in the RenderBody area of the layout page.
                Any html tags or any text not in a section defaults to the RenderBody
            </p>
        </div>
        <div class="col-md-6">
            @*col stands for column, md is for medium, 4 is for number of blocks used (out of 12 evenly spaced blocks)*@
            <p>
                This text is not in a section on the content page, therefore this text is put in the RenderBody area of the layout page.
                Any html tags or any text not in a section defaults to the RenderBody
            </p>
        </div>
    </div>        
}

    <div>
        @section footer{
            <p>&copy; CPSC1517, NAIT Today's date is @DateTime.Today.ToLongDateString()</p>}
    </div>
