<connectionStrings>
  <!--name this is the string that you will reference on your web form to point to the database you are interested in
      connectionString 3 parameters
         Data Source indicates the Sql Server Name
         Initial Catalog indicates the Sql database name
         Integrated Security set to true
      providerName this indicates the type of client your database needs (we have an sql database therefore our
         client is the SqlClient-->
  <add name="NWDB"
        connectionString="Data Source=.; Initial Catalog=Northwind_CPSC1517; Integrated Security=true"
        providerName="System.Data.SqlClient"/>

</connectionStrings>
