@{
    Page.Title = "CheckBoxes";
    Layout = "~/_LayoutPage.cshtml";
}
@section banner{
    <h1>CheckBoxes</h1> }

<div>
    
    @if (IsPost)
    {
        // the variable will contain a list of all the checkboxes that were selected by the user
        var choices = Request.Form["CheckBoxGoup"];

        // validate that at least one checkbox was turned on
        if (choices.IsEmpty())
        {
            <p><span style="color:firebrick">Make a selection from both coding choices.</span></p>
        }
        else
        {
            // setup the delimiter as a character for use in deviding the set of valus that will be returned from the set of checkboxes

            // characters are defined with single quotes

            char[] delimiter = { ',' };

            //Use the .Split (delimiter) method to split up the return string

            // sometimes delimiters are known as CSV or comma seperated values

            //This method returns a string array that contains the substrings in the string instance that are delimited by elements of a specified string or unicode

            // to loop, use the foreach, because it controls the number of passes automatically, and will terminate when there is no more data remaining
            // we are using foreach because we don't know how many checkboxes are selected by the user

            <p>
                I see you like to use the following platforms
                <ul>
                    @* use "@" to jump back to c# mode, below we jump back and forth from c# to html*@ 
                    @foreach(var platform in choices.Split(delimiter))
                    {
                        <li>@platform</li>
                    }
                </ul>
            </p>
        }
    }

    <form id="theForm" action="" method="post">
        <div class="col-md-offset-1">   
            <label id="forCheckBoxGroup">Select your favorite gaming platform</label><br />
            <input type="checkbox" name="CheckBoxGroup" value="PS4" />&nbsp;PS4<br />
            <input type="checkbox" name="CheckBoxGroup" value="PC" />&nbsp;PC<br />
            <input type="checkbox" name="CheckBoxGroup" value="Xbox One" />&nbsp;Xbox One<br />
            <input type="checkbox" name="CheckBoxGroup" value="Nintendo 3DS" />&nbsp;3DS<br />
            <input type="checkbox" name="CheckBoxGroup" value="Cell" />&nbsp;Cell<br />
            <input type="checkbox" name="CheckBoxGroup" value="IPad" />&nbsp;IPad<br />
            <input type="checkbox" name="CheckBoxGroup" value="WII" />&nbsp;WII<br />
            <br/>
            <button type="submit" name="formButton" value="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>


