@{
    Page.Title = "Filter Lookup";
    Layout = "~/_LayoutPage.cshtml";

    //obtain a list of the categories from the database
    //   into a variable (collection) 
    var db = Database.Open("NWDB"); //forgot?? go to WebConnectionString.config
    var querycommand = "SELECT CategoryID, CategoryName "
                    + "FROM Categories "
                    + "ORDER BY CategoryName";
    var infolist = db.Query(querycommand);
}

@section banner{
    <h1>Database: Filter Multi-Record Query</h1> }
    <div class="col-md-offset-4">

    @if (IsPost)
     {
        var categorychoice = Request.Form["CategoryList"];

        //IF you HAVE a prompt line, check to see if that was
        //   the user choice. IF SO, issue a directing message
        //   to the user
        if (categorychoice == "0")
        {
            <p><span style="color:firebrick">You must select a category to search for products</span></p>
        }
        else
        {
            //pass the category value to another page
            //use Response.Redirect() to do this action
            //REMEMBER the data will appear in your URL
            //     so DO NOT pass sensitive data
            //syntax
            //Response.Redirect("pagename.cshtml?parameterid=value&anotherparameterid=anothervalue")
            Response.Redirect("WebGridPage.cshtml?cid=" + categorychoice);
        }
     }
        <form id="theForm" action="" method="post">
            <label id="forCategoryList">Select category:</label>
            <select id="CategoryList" name="CategoryList">
                <option value="0">select...</option>
                @foreach (var item in infolist)
            {
                //loop through the collection of records
                //   in infolist
                //create a line in the dropdownlist for each
                //   item in the collection (infolist)
                //referencing of the data value in the item
                //    is done using EITHER:
                //    a) an index such as item[3] which is column 4
                //    b) by property name of the collection item.xxxxxxx
                //Both methods can be used in the process
                //    at the same time
                <option value="@item[0]">@item.CategoryName</option>
        }
            </select>
            <button type="submit" id="formButton" name="formButton"
                    value="submit" class="btn btn-primary">
                Products?
            </button>
        </form>
    </div>
